@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

html,
body,
#root,
#app {
  height: 90%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: -1px;
  font-family: "Oxygen", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  color: #141c3a;
}

#search-container {
  padding: 3px 36px 0px 36px;
  position: relative;
}

#search {
  width: 100%;
  padding: 10px 70px 9px 40px;
  border-radius: 16.5px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

#search-icon {
  opacity: 0.5;
  position: absolute;
  top: 10px;
  left: 47px;
}

#search::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #8a8e9d;
}

#search-clear-button {
  position: absolute;
  right: 42px;
  top: 8px;
  bottom: 3px;
  border: 0;
  background: none;
  color: #141c3a;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header {
  font-size: 32px;
  font-weight: bold;
  color: #141c3a;
  margin: 0;
  margin-bottom: 16px;
}

.shop {
  padding: 9px 12px 9px 12px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  background-color: #91a2df;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.shop:hover,
.shop:focus,
.shop:focus-within {
  background: #141c3a;
  color: #ffffff;
}

.shop:hover > .favorite-button,
.shop:focus > .favorite-button,
.shop:focus-within > .favorite-button {
  display: flex;
}

.shop:hover .shop-image,
.shop:focus .shop-image,
.shop:focus-within .shop-image {
  opacity: 0.7;
}

.shop-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 14px;
}

.shops-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17%, 1fr));
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  margin-bottom: 14px;
  padding-bottom: 14px;
}

.shop-container {
  grid-row-start: 1;
  grid-column-start: 1;
}

#shops-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.shops-section {
  padding: 32px 36px;
}

#favorite-shops {
  background-color: #f2f2f2;
  flex-grow: 1;
}

.favorite-button {
  padding: 5px 7px;
  border-radius: 4px;
  background-color: #efd9ca;
  font-weight: bold;
  color: #141c3a;
  font-size: 12px;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
  margin: auto;
  z-index: 1;
}

.heart-red-icon {
  filter: invert(17%) sepia(92%) saturate(6112%) hue-rotate(358deg) brightness(120%) contrast(124%);
}

.heart-icon {
  margin-right: 7px;
}

.spinner {
  display: block;
  margin: 0 auto;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#error-wrapper {
  text-align: center;
}

.image-container {
  width: 100%;
  height: 190px;
  overflow: hidden;
  margin-bottom: 3px;
}

.shop-image {
  width: 100%;
  height: 100%;
}

.form-group {
  margin-bottom: 14px;
}

.form-control {
  display: inline;
  width: 9%;
  height: 35px;
  padding: 7px 7px;
  font-size: 14px;
  margin-left: 3.5px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cabecalho {
  // #24348C;
  background-color: #cd251c;
  border-radius: 0 0 10px 10px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 4.2rem;
}

.container { 
	padding-right: 1rem;
	padding-left: 2.8rem;
}

.header-logo {
  height: 50%;
}
